option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    SecurityGroups: default
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
    Cooldown: 360
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: false
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: 5000